/* 购物车 */
.shop-cart {
    width: 990px;
    margin: 20px auto;
}

/* 1 */
.shop-cart .order-ensure-title {
    position: relative;
    margin: 40px auto 50px;
}

.shop-cart .order-ensure-title:before {
    content: "";
    display: block;
    background-image: url(../img/lg.png);
    background-position: -234px -38px;
    background-size: 460px 217px;
    width: 150px;
    height: 42px;
}

.shop-cart .shopping-step {
    width: 440px;
    font-size: 15px;
    font-weight: 300;
    display: block;
    border-top: 2px solid #b0b0b0;
    position: absolute;
    right: 2px;
    top: 0;
}

.shop-cart .shopping-step li:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/lg.png);
    background-position: 0 -205px;
    background-size: 460px 217px;
    width: 12px;
    height: 12px;
    left: 50%;
    margin-left: -6px;
    top: -7px;
}

.shop-cart .shopping-step li {
    display: block;
    float: left;
    position: relative;
    width: 33.33%;
    color: #999;
    line-height: 40px;
    text-align: center;
}

/* 2 */
.shop-cart .order-pay {
    width: 100%;
    line-height: 150%;
    display: none;
}

.shop-cart .shop-cart-empty {
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
}

.shop-cart .shop-cart-empty a {
    margin-top: 18px;
    display: inline-block;
    width: 130px;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none
}

.shop-cart .shop-cart-empty p {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 300;
    color: #4d4d4d;
    text-align: center;
}

.order-pay .shop-cart-empty i {
    display: inline-block;
    font-size: 150px;
    width: 150px;
    height: 60px;
    color: #4d4d4d;
}

/* 购物车有商品 */
/* .promotion-pool{
   
} */
.cart-fixed-submit{
    display: none
}
.shop-cart .cart-table {
    border: 1px solid #e0e0e0;
    padding:20px 20px 0 40px;
    position: relative;
    display: none;
}

.order-pay .table {
    width: 100%;
    margin-top: 20px;
}
.pre-sell-box {
    overflow: hidden;
}
.pre-sell-box .ic{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top:40%
}
.order-pay .table .tr .td {
    float: left;
    padding: 30px 0;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

.order-pay .table li .cart-item-check {
    top: 63px;
}

.pay-pro {
    width: 280px;
    float: left;
}

.product-price {
    float: left;
    height: 90px;
    line-height: 90px;
    font-size: 20px
}

.shop-cart .pay-pro-icon {
    float: left;
    width: 90px;
    height: 100px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.shop-cart .pay-pro-icon img {
    max-width: 100px;
    width: 80px;
}

.shop-cart .order-pay .pay-pro-info {
    float: left;
    text-align: left;
    padding-left: 15px;
    padding-top: 0;
    margin-left: 0;
    width: 280px;
}

.shop-cart .order-pay .pay-pro-info a {
    display: block;
    width: 280px;
    min-height: 44px;
    padding-left: 3px;
    color: #444;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    text-decoration: none;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.adjust-cart-num {
    float: left;
    height: 90px;
}

.adjust-cart-num .cart-num-cont {
    position: relative;
    width: 98px;
    height: 30px;
    margin-left: 15px;
    margin-top: 30px
}

.adjust-cart-num .cart-num-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    cursor: pointer;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    line-height: 40px
}

.adjust-cart-num .disabled i {
    color: #f0f0f0;
    cursor: not-allowed;
}
.adjust-cart-num input {
    box-sizing: border-box;
    width: 45px;
    text-align: center;
    height: 40px;
    color: #444;
    font-size: 20px;
    border: 1px solid #e0e0e0;
}

.adjust-cart-num .cart-num-cont .minus {
    position: absolute;
    top: 0;
    left: -10px;
    border-right: none
}

.adjust-cart-num .cart-num-cont input {
    position: absolute;
    top: 0;
    left: 30px;
}

.adjust-cart-num .cart-num-cont .plus {
    position: absolute;
    top: 0;
    left: 75px;
    border-left: none
}

/* 总价 */
.cart-fixed-submit {
    height: 50px;
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
}
.cart-fixed-wrap {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #e0e0e0;
}
.cart-fixed-wrap .center-content {
    width: 990px;
    position: relative;
    padding-left: 40px;
    box-sizing: border-box;
}
.fixed-option input{
    width: 20px;
    height: 20px;
    position: absolute;
    top:10px;
    left: 15px;
}
.fixed-option {
    float: left;
    margin-right: 60px;
}
.select-num {
    float: left;
    margin-right: 26px;
}
.price-sum {
    float: left;
    width: 264px;
    line-height: 50px;
    vertical-align: middle;
}
 .price-sum .sum {
    position: relative;
}
.price-sum .sum>strong {
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    right: 0;
    color: red
}
.btn-account {
    float: right;
    width: 150px;
    height: 50px;
    padding: 0;
    text-align: center;
    border: 0;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    background-color: #d0021b;
    cursor: pointer;
}

.cart-operation {
    float: right;
    height: 90px;
    line-height: 90px;
}
.cart-operation .cart-del-btn,.cart-col-btn{
    cursor: pointer;
}
.cart-del-btn:hover{
    color: red
}
.cart-col-btn:hover{
    color: red
}
.total{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
}
/* 点击删除按钮出现的界面 */
body{
    position: relative;
}
.body-mask { 
    width: 1349px;
    position: absolute;
    z-index: 100;
    background: #000;
    opacity:0.4;
    top: 0;
    left: 0;
}
.yoho-dialog{
width: 420px;
height: 257px;
border: 5px solid #5b5c5c;
background: #fff;
padding: 74px 20px 40px 20px;
margin-top: -128.5px;
margin-left: -210px;
position: fixed;
top:50%;
left:50%;
z-index: 101;
display: none
}
.content,.btns{
    width: 370px;
    text-align: center
}
.rve{
  font-size: 30px;
  margin-bottom: 20px
}
.rve .iconfont{
    font-size: 30px
}
.content p{
    font-size: 16px
}
.bttn{
    display: inline-block;
    width: 120px;
    height: 35px;
    color: #000;
    text-align: center;
    line-height: 35px;
    border: 1px solid #5a5c5c;
    font-size: 16px;
    cursor: pointer;
}
.bt1{
    background: #000;
    color: #fff;
}
.close {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 40px
}