*{
    margin: 0;
    padding: 0;
}
.heder{
    height: 66px;
    margin: 0 0 20px;
    border-bottom: 2px solid #222;
}
.heder .heder-inner{
    width: 990px;
    height: 100%;
    margin: 0 auto;
}
.logo-img{
    padding-top: 17px;
    display: inline-block
}
.logo-img img{
    display: inline-block
}
li{
    list-style: none;
}
li a{
    text-decoration: none
}
.box-right{
    display: inline-block;
    float: right;
    padding-top: 20px

}
.box-right > ul >li{
    float: left;
    line-height: 28px;
    padding: 0 10px
}
.box-right ul li a{
    font-size: 16px;
    color: #000
}
.sanjiao-down{
    width: 0; 
    height: 0;
    border-width: 7px;
    border-style: solid;
    border-color:#000 transparent transparent transparent;
    position: absolute;
    right: 0px;
    top: 15px ;
}
.sanjiao-up{
 width: 0; 
 height: 0;
 border-width: 7px;
 border-style: solid;
 border-color: transparent #000 transparent transparent;
 transform: rotate(90deg);
 position: absolute;
 right: 0px;
 top: 5px
}
.myyh{
    position: relative;
}
.myyh a{
    padding: 5px
}
.khfw{
    position: relative;
}
.khfw >a{
    padding: 5px
}
.nav-bottm{
    width: 100%;
    height: 56px;
    position: absolute;
    top: 28px;
    right: 0px;
    display: none
}
.nav-bottm li{
    background-color: #eaeceb;
    border-top: 1px solid #ccc
}
.nav-bottm > li>a{
    display: block;
    text-align: center;
}

/* 注册 */
.con{
    margin-top: 107px
}
.passport-cover{
    width: 575px;
    height: 418px;
    border-right: 1px solid #ccc
}
.main{
    margin-left: 85px
}
.register-page > ul >li{
    margin-bottom: 25px;
}
.img-check-main ul{
    width: 270px;
    height: 62px;
    overflow: hidden;
}
.img-check-main ul li{
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    margin-right: 7px;
    cursor: pointer;
    overflow: hidden;
}
.img-check-main ul li img{
 width: 240px;
 height: 240px;
 font-size: 100%
}
.register-page li .region{
    padding: 4px 0;
    width: 132px;
    height: 30px;
    border-color: #c1c1c1;
    color: #9a9a9a;
    font-size: 16px;
    font-family: 黑体,sans-serif;
}
.register-page li {
    position: relative;
    margin-bottom: 25px;
    width: 270px
}
.register-page li .country-code {
    display: block;
    float: left;
    width: 58px;
    height: 45px;
    border: 1px solid #dbdbdb;
    border-right: 0;
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
    line-height: 43px;
}
.register-page li .input.phone-num {
    position: absolute;
    top: 0;
    right: 3px;
    display: block;
    width: 212px;
}
.register-page li .input {
    padding: 0;
    width: 268px;
    height: 43px;
    border: 1px solid #dbdbdb;
    color: #9a9a9a;
    text-indent: 10px;
    font-size: 16px;
    line-height: 43px;
}

.register-page li .pwd-intensity-container {
    overflow: hidden;
    margin-top: 5px;
    width: 270px;
    height: auto;
    text-align: right
}
.register-page li .pwd-intensity-container .pwd-intensity {
    padding: 1px 10px;
    height: 15px;
    background-color: #e8e8e8;
    text-align: center;
    font-size: 12px;
}
.register-page li.items-container {
    text-align: left;
    white-space: nowrap;
    font-size: 13px;
}

.register-page .reg-btn-area {
    width: 340px;
}
.reg-btn{
    width: 270px;
    height: 45px;
    background: #ff1901;
    border: none;
    font-weight: 700;
    font-size: 20px;
    float: left;
}
.register-page li .input {
    padding: 0;
    width: 268px;
    height: 45px;
    border: 1px solid #dbdbdb;
    color: #9a9a9a;
    text-indent: 10px;
    font-size: 16px;
    line-height: 43px;
}
.register-page .qrcode-hover-reg {
    float: left;
    margin-left: 10px;
    position: relative;
    width: 55px;
}
.register-page .qrcode-hover-reg .qrcode-reg {
    width: 45px;
    height: 45px;
    border: 1px solid #b0b0b0;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
}
.register-page .qrcode-hover-reg .download-app-box {
    position: absolute;
    bottom: 0;
    left: 55px;
    width: 231px;
    height: 290px;
    background-color: #f8f8f8;
    z-index: 1000;
    display: none;
    border: 1px solid #b0b0b0;
}

/* 注册提示 */
#user{
    position: relative;
}
#pwd{
    position: relative;
}
#phone-num{
    position: relative;
}
.user-sp{
    width: 90px;
    height: 20px;
    position: absolute;
    /* background: #b0b0b0; */
    right: -90px;
    top:10px;
    font-size: 12px;
    line-height: 20px;
}

.pwd-tips{
    position: absolute;
    top: -10px;
    left: 285px;
    padding-left: 15px;
    padding-top: 7px;
    width: 160px;
    height: 78px;
    background-image: url('../img/ts.png');
    background-position: -148px -158px;
    background-size: 595px 298px;
    font-size: 12px;
    display: none
}
.pwd-tips .default {
    position: relative;
    height: 22px;
    color: #b9b9b9;
    font-size: 12px;
    line-height: 22px;
}
.pwd-tips i{
    color: green
}